/* custom styles */
.tred-ribbon {
  margin-top: -16px;
  width: 60px;
}

.ribbon-flag {
  position: absolute;
  left: 0;
}

.ribbon-flag::before {
  content: "";
  border-style: solid;
  border-width: 16px 16px 0 0;
  top: 0;
  right: -16px;
  position: absolute;
}

.ribbon-flag::after {
  content: "";
  border-style: solid;
  border-width: 16px 0 0 16px;
  bottom: 0;
  right: -16px;
  position: absolute;
}

.ribbon-flgreen::before {
  border-color: #15b364 transparent transparent transparent;
}

.ribbon-flgreen::after {
  border-color: transparent transparent transparent #15b364;
}

.ribbon-flblue-light::before {
  border-color: #4267b2 transparent transparent transparent;
}

.ribbon-flblue-light::after {
  border-color: transparent transparent transparent #4267b2;
}
