/* custom styles */
.tred-ribbon {
  margin-top: -16px;
  width: 60px;
}

.ribbon-flag {
  position: absolute;
  left: 0;
}

.ribbon-flag::before {
  content: "";
  border-style: solid;
  border-width: 16px 16px 0 0;
  top: 0;
  right: -16px;
  position: absolute;
}

.ribbon-flag::after {
  content: "";
  border-style: solid;
  border-width: 16px 0 0 16px;
  bottom: 0;
  right: -16px;
  position: absolute;
}

.ribbon-flgreen::before {
  border-color: #15b364 transparent transparent transparent;
}

.ribbon-flgreen::after {
  border-color: transparent transparent transparent #15b364;
}

.ribbon-flblue-light::before {
  border-color: #4267b2 transparent transparent transparent;
}

.ribbon-flblue-light::after {
  border-color: transparent transparent transparent #4267b2;
}

/* styles for vue-burger-menu  */
.bm-burger-bars {
  background-color: #fff;
}

.bm-burger-button {
  top: 17px;
  height: 27px;
  left: 18px;
  z-index: 20;
}

.bm-menu {
  z-index: 10;
  padding-top: 127px;
  background-color: #fff;
}

.bm-item-list > * > span {
  font-size: 16px;
  letter-spacing: -0.025em;
  color: #4267b2;
  text-transform: uppercase;
}

.bm-overlay {
  background: none;
}

.bm-overlay::before {
  content: "";
  display: block;
  background-color: rgba(29, 33, 41, 0.85);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blue-arrow-down::before {
  content: "";
  display: table;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #4267b2 transparent transparent transparent;
  margin-top: -7px;
}

.bm-menu-lang {
  position: absolute;
  bottom: 40px;
}

.bmenuactive .bm-burger-button .bm-burger-bars:nth-child(2) {
  width: 26px;
}
